.search-container {
  display: block;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.search-header {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin: 10px 0 20px;
  font-size: 1.6rem;
}

.search-header__label {
  display: block;
  padding: 10px;
  font-size: 2.6rem;
  line-height: 2.8rem;
  font-weight: bold;
  color: var(--button-color);
  margin-bottom: 10px;
}

.search-header__label-key {
  padding: 0 4px;
  color: rgb(208, 2, 2);
}

.search-header__count {
  display: block;
  font-size: 1.8rem;
  font-style: italic;
}

.search-control {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
  margin: 10px;
  gap: 8px;
}

.search-control__btn {
  display: block;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 1.6rem;
  background-color: #eee;
  border: 1px solid transparent;
  font-weight: 500;
  outline: none;
}

.search-control__btn:hover {
  cursor: pointer;
  opacity: 0.8;
  border: 1px solid #ccc;
}

.search-control__btn--active {
  color: #fff;
  background-color: var(--button-color);
}

.search-control__show-more {
  margin: 20px auto 40px;
  padding: 12px 20px;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  display: none;
}

.search-control__show-more:hover {
  cursor: pointer;
  opacity: 0.8;
}

.search-list__container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.search-list--empty {
  background-image: url(https://cdn.dribbble.com/users/1365063/screenshots/3979985/na_vrhova__plocha_1.png);
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  margin: 20px 0 30px;
}

@media screen and (max-width: 739px) {
  .search-container {
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
  }

  .product__sell-item {
    padding: 6px;
    height: 340px;
  }

  .search-header__label {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .search-header__count,
  .product__sell-item-label,
  .product__sell-item-price,
  .product__sell-item-sold {
    font-size: 1rem;
  }

  .product__sell-item-sold {
    width: 100%;
    font-size: 0.8rem;
  }

  .product__sell-item-star-icon {
    font-size: 1rem;
  }

  .search-control {
    width: calc(100% - 20px);
  }

  .search-control__btn {
    font-size: 0.6rem;
  }
}
