.admin__container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

#admin-box {
  display: block;
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
}

.admin__title {
  padding: 30px 40px 0;
}

.admin__tilte-label {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 4px;
  cursor: text;
}

.admin__tilte-describe {
  font-size: 1.8rem;
  display: block;
  font-weight: 300;
  font-style: italic;
  text-decoration: underline;
  cursor: text;
  margin: 10px 0 10px 0;
}

.dash__counting {
  margin: 30px 40px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.dash__counting-item {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  width: 33%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-right: 1px solid #ccc;
}

.dash__counting-item--none-border {
  border: none;
}

.dash__counting-content {
}

.dash__counting-number {
  height: 50%;
  font-size: 2.8rem;
  font-weight: bold;
  padding: 6px 0;
}

.dash__counting-describe {
  margin: 6px 0;
  height: 50%;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
}

.dash__counting-icon {
  height: 100%;
  width: 60px;
  line-height: 60px;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.4);
}

.admin__group {
  margin: 30px 40px 10px 40px;
  background-color: #fff;
  padding: 25px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* min-height: 510px;
    max-height: 510px; */
  border-radius: 20px;
  overflow: hidden;
}

.dash__group-title {
  display: block;
  margin-bottom: 20px;
  padding: 6px 0;
  font-size: 2.4rem;
  font-weight: bold;
}

.dash__chart-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 40px;
}

.dash__chart-item {
  margin: 30px auto;
}

.dash__chart-item--pie {
  width: 30%;
}

.dash__chart-item--bar {
  width: 60%;
}
